<div class="row">
  <div class="col-5">
    <div class="card ml-2">
      <div class="card-body">
        <h3 class="header">Excel File</h3>
        <form>
          <div class="form-row">
            <div class="form-group">
              <label for="inputFile">File</label>
              <input type="file" #file class="form-control">
            </div>
          </div>
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-7">
    <div class="card mr-1">
      <div class="card-body">
        <div class="chart-container" style="position: relative; height:40vh; width:50vw; margin-bottom:3rem;">
          <canvas id="canvas">{{ Linechart }}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>