<div class="row">
  <div class="col-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="header">Excel File</h2>
        <!-- <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
          <div class="form-row">
            <div class="form-group">
              <label for="inputFile">File</label>
              <input type="file" class="form-control" [(ngModel)]="model.file" name="file"
              #file="ngModel">
            </div>
          </div>
          <button type="submit" class="btn" >Submit</button>
        </form>  -->
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
        <button type="button" class="btn" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
          Upload the File
        </button>
      </div>
    </div>
  </div>
</div>