<div class="row">
  <div class="col-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <h2 class="header">Excel File</h2>
        <div class="row">
          <div class="col-8">
            <label>Add file here</label>
            <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <button type="button" class="btn" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
              Upload the File
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>